.Photo {
  margin-top: 0.08rem;

  .photo-slide {
    img {
      display: block;
      width: 5.34rem;
      height: 4.29rem;
    }
  }

  .desc {
    img {
      display: block;
      width: 1.73rem;
      height: 4.29rem;
    }
  }
}